*{
	margin: 0;
	padding: 0;
	outline: 0;
}

body{
	color: black;
	font-family: arial;
	font-size: 14px;
	line-height: 18px;
	background-color: gray;
}

.template{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

header{
	height: 85px;
	background-color: black;
	color: white;
}

header h2{
	margin: auto;
	text-align: center;
	font-size: 40px;
	padding-top: 30px;
	font-weight: bold;
}

nav{
	height: 30px;
	background-color: pink;
}

nav p{
	padding-left: 30px;
	font-size: : 20px;
	padding-top: 5px;
}

.contentSection{
	background-color: white;
}

.sideBar{
	width: 255px;
	background-color: #BBB9BA;
	float: left;
	margin-top: 15px;
	padding: 10px;
}

.mainContent{
	width: 650px;
	background-color: #DFDFDF;
	float: right;
	padding: 10px;
	margin: 15px 0px 15px 15px;
}

footer{
	height: 90px;
	background-color: black;
}

footer h3{
	color: white;
	margin: auto;
	text-align: center;
	font-size: 40px;
	padding-top: 40px;
	font-weight: bold;
}